.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  margin: 20px;
  padding: 0 20px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px #ccc;
  border-radius: .25rem;
  display: flex;
  align-items: center;
}
.App-header-title {
  flex-grow: 1;
}
.App-content {
  display: flex;
  flex-wrap: wrap;
}
.app-controls {
  display: flex;
}
.app-control {
  font-weight: bold;
  margin-left: 20px;
  user-select: none;
  display: flex;
  align-items: center;
}
.app-control-checkbox-view {
  position: relative;
  top: 3px;
}
.app-control-icon {
  color: salmon;
}
.app-control-icon-add {
  font-size: 22px;
  position: relative;
  top: 1px;
}
.app-control-icon-remove {
  font-size: 20px;
}
.app-control-text {
  margin-left: 10px;
}
.cards-counter {
  color: #fff;
  background-color: #6c757d;
  padding: .16em .4em .25em .4em;
  font-weight: 700;
  line-height: 1;
  border-radius: .25rem;
  transition: color .15s;
  position: relative;
  top: 6px;
}
