.card {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px #ccc;
  border-radius: .25rem;
  width: 445px;
  min-height: 325px;
}
.card-sep {
  border: 0;
  border-top: 1px solid #ccc;
  width: 100%;
}
.card.dark {
  background-color: #222;
  color: #fff
}
.card-input {
  border: 1px solid #ccc;
  border-radius: .25rem;
  padding: 10px;
}
.card-input:focus {
  box-shadow: 0 0 10px #ccc;
  outline: none;
}
