.card {
  display: inline-block;
  margin: 20px;
  padding: 5px 20px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px #ccc;
  border-radius: .25rem;
  width: 445px;
  min-height: 315px;
}
.card-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title {
  overflow: auto;
}
.card-sep {
  border: 0;
  border-top: 1px solid #ccc;
}
.card.dark {
  background-color: #222;
  color: #fff
}
.card-controls {
  margin-top: 5px;
  flex-shrink: 0;
}
.card-control {
  font-size: 17px;
  margin-left: 20px;
}
.card-text {
  overflow: auto;
  height: 210px;
}
.card input[type="checkbox"] {
  position: relative;
  top: -1px;
}
.card input,
.card textarea {
  border: 1px solid #ccc;
  border-radius: .25rem;
  padding: 10px;
}
.card input[type="text"]:focus,
.card textarea:focus {
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  outline: none;
}
.card textarea {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 200px;
}
.card-input-title {
  flex-grow: 1;
  margin: 14px 0 12px;
}
