.sign-in-page {
  display: flex;
  justify-content: center;
}
.sign-in-page-form-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.sign-in-page-form-title {
  text-align: center;
}
.sign-in-page-form {
  display: flex;
  flex-direction: column;
}
.sign-in-page-form-btn {
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding: 10px 40px;
  margin-top: 20px;
  background: salmon;
  border: none;
  border-radius: 22px;
  outline: none;
  align-self: center;
}
.sign-in-page-form-btn:disabled {
  background: #6c757d;
  cursor: not-allowed;
}
