.sign-in-page {
  display: flex;
  justify-content: center;
}
.sign-in-page-form-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.sign-in-page-form-title {
  text-align: center;
}
.sign-in-page-form {
  display: flex;
  flex-direction: column;
}
